// // * Imp

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

// Header
.app-header {
  background: #F8F6F8;
}

.fixed-header .app-header {
  position: fixed;
  width: 100%;
  top: 0;
}

.app-header {
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 10;
  transition: all .2s;
}

.app-header.header-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, .03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, .03), 0 0.25rem 0.53125rem rgba(4, 9, 20, .05), 0 0.125rem 0.1875rem rgba(4, 9, 20, .03);
}

.fixed-header .app-header__logo {
  background: rgba(250, 251, 252, .1);
}

.app-header__logo {
  padding: 0 1.5rem;
  height: 60px;
  width: 280px;
  display: flex;
  align-items: center;
  transition: width .2s;
}

.app-header__logo .logo-src {
  height: 45px;
  width: 120px;
}

// hamburger styles start
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: .7;
  background: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.6);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #860063;
}

.hamburger-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 2px;
  background-color: #860063;
  border-radius: 10px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px
}

.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--elastic .hamburger-inner {
  top: 1px;
  transition-duration: .275s;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 6px;
  transition: opacity .125s .275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 12px;
  transition: transform .275s cubic-bezier(.68, -.55, .265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 6px, 0) rotate(135deg);
  transition-delay: .075s
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -12px, 0) rotate(-270deg);
  transition-delay: .075s
}

// hamburger styles end

.orign-name {
  border-radius: 2em;
  padding: 10px 15px;
  background: #f78c2a;
  color: #fff;
}

.app-header__menu,
.app-header__mobile-menu {
  display: none;
  padding: 0 0.5rem;
  height: 60px;
  align-items: center;
}

.app-header .app-header__content.header-mobile-open {
  visibility: visible;
  opacity: 1;
  top: 80px
}

.app-header .app-header__content {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  padding: 0 1.5rem;
  height: 60px;
}

.app-header .app-header__content .app-header-left {
  display: flex;
  align-items: center;
}

.search-wrapper {
  position: relative;
  margin-right: 0.66667rem;
}

.search-wrapper.active {
  width: 330px;
}

.search-wrapper.active .input-holder {
  width: 290px;
  border-radius: 2em;
  background: rgba(0, 0, 0, .05);
  transition: all .5s cubic-bezier(0, .105, .035, 1.57);
}

.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 11px);
}

.search-wrapper.active .input-holder .search-icon {
  width: 47px;
  height: 47px;
  margin: 0;
  border-radius: 2em;
}

.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}

.search-wrapper .input-holder {
  height: 47px;
  width: 42px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.search-wrapper .input-holder .search-input {
  width: 100%;
  padding: 0 70px 0 5px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0, .105, .035, 1.57);
  transition-delay: .3s;
  font-size: .88rem;
}

.search-wrapper .input-holder .search-icon {
  width: 42px;
  height: 42px;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: rgba(0, 0, 0, .06);
  border-radius: 2em;
}

.search-wrapper .input-holder .search-icon span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(.65, -.6, .24, 1.65);
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: '';
}

.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 13px;
  border-radius: 2px;
  background: #860063;
}

.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 4px;
  top: 0;
  border-radius: 16px;
  border: 2px solid #860063;
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: '';
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}

.search-wrapper .close::before {
  width: 2px;
  height: 20px;
  left: 9px;
  top: 0;
}

.search-wrapper .close::after {
  width: 20px;
  height: 2px;
  left: 0;
  top: 9px;
}

.search-wrapper .close::before,
.search-wrapper .close::after {
  position: absolute;
  content: '';
  background: #860063;
  border-radius: 2px;
}

.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  cursor: pointer;
  opacity: 0 !important;
  transform: rotate(-180deg);
  transition: all .2s cubic-bezier(.285, -.45, .935, .11);
  transition-delay: .1s;
}

.search-wrapper.active .close {
  left: 300px;
  opacity: .6 !important;
  transform: rotate(45deg);
  transition: all .3s cubic-bezier(0, .105, .035, 1.57);
  transition-delay: .3s;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

// Right Header
.app-header .app-header__content .app-header-right {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.rounded-circle {
  border-radius: 50% !important;
}

// ++++++++++++++++
.header-btn-lg {
  padding: 0 0 0 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.header-btn-lg::before {
  position: absolute;
  left: -1px;
  top: 50%;
  background: #dee2e6;
  width: 1px;
  height: 30px;
  margin-top: -15px;
  content: ''
}

// ++++++++++++++++++++++

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.header-btn-lg::before {
  position: absolute;
  left: -1px;
  top: 50%;
  background: #dee2e6;
  width: 1px;
  height: 30px;
  margin-top: -15px;
  content: '';
}

.header-btn-lg .hamburger-inner,
.header-btn-lg .hamburger-inner::before,
.header-btn-lg .hamburger-inner::after {
  background: #6c757d
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.widget-content .widget-content-left .widget-heading {
  opacity: .8;
  font-weight: 700;
}

.app-header .header-user-info>.widget-heading,
.app-header .header-user-info>.widget-subheading {
  white-space: nowrap;
}

.widget-content .widget-content-left .widget-subheading {
  opacity: .5;
}

.app-header .header-user-info>.widget-subheading {
  font-size: .8rem;
}

// Header styles end

// Main
.fixed-header .app-main {
  padding-top: 60px;
}

.app-main {
  flex: 1;
  display: flex;
  z-index: 8;
  position: relative;
}

.app-main .app-main__outer {
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 12
}

.app-main .app-main__inner {
  padding: 30px;
  flex: 1
}

.app-container {
  background: #f1f4f6
}

// Sidebar
.app-sidebar {
  background: #fff;
}

.fixed-sidebar .app-sidebar {
  position: fixed;
  height: 100vh;
}

.app-sidebar.sidebar-shadow {
  box-shadow: 7px 0 60px rgba(0, 0, 0, .05);
}

.app-sidebar {
  width: 280px;
  display: flex;
  z-index: 11;
  overflow-y: auto;
  min-width: 280px;
  position: relative;
  flex: 0 0 280px;
  margin-top: -60px;
  padding-top: 60px;
  transition: all .2s
}

.app-sidebar .app-sidebar__inner {
  padding: 10px;
}

.app-sidebar .scrollbar-sidebar {
  z-index: 15;
  width: 100%
}

.scrollbar-sidebar,
.scrollbar-container {
  position: relative;
  height: 100%;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent
}

.app-sidebar .app-sidebar-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .05;
  background-size: cover;
  z-index: 10
}

.app-sidebar .app-header__logo {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 11
}

.app-sidebar.sidebar-shadow {
  box-shadow: 7px 0 60px rgba(0, 0, 0, .05)
}

.app-sidebar__heading {
  text-transform: uppercase;
  font-size: .8rem;
  margin: .75rem 0;
  font-weight: 700;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative
}

.sidebar-mobile-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: .6;
  left: 0;
  top: 0;
  z-index: 12
}

.fixed-sidebar .app-sidebar {
  position: fixed;
  height: 100vh
}

.fixed-sidebar .app-main .app-main__outer {
  z-index: 9;
  padding-left: 280px
}

.fixed-sidebar.fixed-header .app-sidebar .app-header__logo {
  display: none
}

.fixed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo {
  display: flex
}

.fixed-sidebar:not(.fixed-header) .app-header {
  margin-left: 280px
}

.fixed-sidebar:not(.fixed-header) .app-header .app-header__logo {
  display: none
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-header {
  margin-left: 0px
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo {
  width: 0px;
  padding: 0
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo .header__pane {
  margin-right: auto
}

.closed-sidebar .app-sidebar {
  transition: all .3s ease;
  width: 0px;
  min-width: 0px;
  flex: 0 0 80px;
  z-index: 13
}

.closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading {
  text-indent: -999em
}

.closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e0f3ff;
  text-indent: 1px
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .app-sidebar__heading::before {
  display: none
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul::before {
  display: block
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {
  text-indent: initial;
  padding: 0 1.5rem 0 45px
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .metismenu-icon {
  text-indent: initial;
  left: 5px;
  margin-left: 0
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .metismenu-state-icon {
  visibility: visible;
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show {
  padding: .5em 0 0 2rem
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show>li>a {
  height: 2.3em
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul ul li a {
  padding-left: 1em
}

.closed-sidebar:not(.sidebar-mobile-open) .app-sidebar .scrollbar-sidebar {
  position: static;
  height: auto;
  overflow: initial !important
}

.closed-sidebar:not(.sidebar-mobile-open) .app-sidebar:hover .scrollbar-sidebar {
  position: absolute;
  height: 100%;
  overflow: hidden !important
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
  width: auto;
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .header__pane {
  margin-right: auto
}

.closed-sidebar.fixed-sidebar:not(.closed-sidebar-mobile) .app-main__outer {
  padding-left: 0px;
}

.closed-sidebar.fixed-header:not(.fixed-sidebar) .app-sidebar .app-header__logo {
  visibility: hidden
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo,
.closed-sidebar.closed-sidebar-mobile .app-header .app-header__logo {
  width: auto;
  display: flex
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .header__pane,
.closed-sidebar.closed-sidebar-mobile .app-header .app-header__logo .header__pane {
  display: none
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo {
  display: flex;
  width: 80px;
  padding: 0 1.5rem !important
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .logo-src {
  display: block !important;
  margin: 0 auto;
  width: 21px
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .header__pane {
  display: none
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar:hover .app-header__logo {
  width: 280px
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar:hover .app-header__logo .logo-src {
  width: 97px;
  margin: 0
}

.closed-sidebar.closed-sidebar-mobile .app-header {
  margin-left: 0 !important
}

.closed-sidebar.fixed-footer .app-footer__inner {
  margin-left: 0 !important
}


// Break Points
@media only screen and (max-width:1320px) {
  .header-user-info {
    display: none
  }
}

@media(max-width:991.98px) {
  .app-main {
    display: block
  }

  .dropdown-menu::before,
  .dropdown-menu::after {
    display: none
  }

  .app-sidebar {
    flex: 0 0 280px !important;
    width: 280px !important;
    transform: translateX(-280px);
    position: fixed
  }

  .app-sidebar .app-header__logo {
    display: none
  }

  .sidebar-mobile-open .app-sidebar {
    transform: translateX(0)
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner .app-sidebar__heading {
    text-indent: initial
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner .app-sidebar__heading::before {
    display: none
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul li a {
    text-indent: initial;
    padding: 0 1.5rem 0 45px
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner .metismenu-icon {
    text-indent: initial;
    left: 5px;
    margin-left: 0
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner .metismenu-state-icon {
    visibility: visible
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul::before {
    display: block
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul ul li a {
    padding-left: 1em
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show {
    padding: .5em 0 0 2rem
  }

  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show>li>a {
    height: 2rem;
    line-height: 2rem
  }

  .sidebar-mobile-open .app-sidebar .app-header__logo {
    width: auto !important
  }

  .sidebar-mobile-open .app-sidebar .app-header__logo .logo-src {
    width: 97px !important;
    margin-left: auto;
    margin-right: 0
  }

  .sidebar-mobile-open .fixed-sidebar .app-sidebar {
    height: 100%
  }

  .sidebar-mobile-open .sidebar-mobile-overlay {
    display: block
  }

  .app-main .app-main__outer {
    padding-left: 0 !important
  }

  .app-header {
    justify-content: space-between
  }

  .app-header .app-header__logo {
    order: 2;
    justify-content: center;
    background: 0 0 !important;
    border: 0 !important;

    .header__pane {
      display: none;
    }
  }

  .orign-name {
    display: none;
  }

  .app-header .app-header__content {
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 .46875rem 2.1875rem rgba(4, 9, 20, .03), 0 .9375rem 1.40625rem rgba(4, 9, 20, .03), 0 .25rem .53125rem rgba(4, 9, 20, .05), 0 .125rem .1875rem rgba(4, 9, 20, .03);
    position: absolute;
    left: 1%;
    width: 99%;
    top: 0;
    transition: all .2s;
    background: #fff;
    border-radius: 2em;
    padding: 0 10px;
    overflow: hidden;
  }

  .app-header .app-header__content .header-btn-lg {
    margin-left: .5rem;
    padding: 0 .5rem
  }

  .app-header .app-header__content .header-btn-lg .hamburger-box {
    margin-top: 5px
  }

  .app-header .app-header__content .header-btn-lg+.header-btn-lg {
    display: none
  }

  .app-header .app-header__content .app-header-left .nav {
    display: none
  }

  .app-header-right {
    margin-left: 0 !important;
  }

  .app-header .app-header__content.header-mobile-open {
    visibility: visible;
    opacity: 1;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .app-header .app-header__mobile-menu {
    display: flex;
    order: 1
  }

  .app-header .app-header__menu {
    display: flex;
    order: 3
  }

  .app-header.header-text-light .header-mobile-open {
    background: #343a40
  }
}

@media(max-width:767.98px) {
  .app-main .app-main__inner {
    padding: 15px 15px 0
  }


  @media screen and (max-width: 768px) {
    .app-container {
      padding-left: 0;
    }
  }
}
