<div class="app-container app-theme-white fixed-header fixed-sidebar" [ngClass]="{'closed-sidebar': isSidebarOpen}">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="header__pane">
        <button pButton pRipple type="button"
          class="hamburger close-sidebar-btn hamburger--elastic p-button-rounded p-button-text p-button-plain"
          [ngClass]="{'is-active': !isSidebarOpen}" (click)="toggleSidebar()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <div class="logo-src ml-3">
        <img src="../assets/images/my_logo.svg" alt="">
      </div>
    </div>

    <div class="app-header__mobile-menu">
      <div>
        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav" (click)="toggleMobileNav()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
      <div>
        <button pButton pRipple type="button" class="p-button-rounded p-button-text p-button-plain"
          [class.active]="isHeaderNavActive" (click)="toggleHeaderNav()" pRipple>
          <span class="btn-icon-wrapper">
            <i class="pi pi-ellipsis-v"></i>
          </span>
        </button>
      </div>
    </div>

    <div class="app-header__content" [ngClass]="{ 'header-mobile-open': isHeaderNavActive }">
      <div class="app-header-left">
        <div class="orign-name">
          India
        </div>
      </div>
      <div class="app-header-right">
        <div class="search-wrapper" [ngClass]="{ 'active': isSearchActive }">
          <div class="input-holder">
            <p-autoComplete [(ngModel)]="selectedCountry" [showEmptyMessage]="true" [ngClass]="'search-input'"
              [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"
              placeholder="Type to search a feature"></p-autoComplete>
            <button class="search-icon" (click)="toggleSearch()">
              <span></span>
            </button>
          </div>
          <button class="close" (click)="toggleSearch()"></button>
        </div>
        <div id="google_translate_element"></div>
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left  ml-3 header-user-info">
                <div class="widget-heading"> Admin Chandra</div>
                <div class="widget-subheading"> India </div>
              </div>
              <div class="widget-content-left">
                <div class="btn-group">
                  <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn"
                    (click)="userMenu.toggle($event)">
                    <img width="42" class="rounded-circle" src="../assets/images/user_avatar.svg" alt="">
                    <i class="pi pi-angle-down ml-2 opacity-8"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-main">
    <!-- Sidebar -->
    <div class="app-sidebar sidebar-shadow">
      <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
          <p-panelMenu [model]="items"></p-panelMenu>
        </div>
      </div>
    </div>
    <!-- Main container -->
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="app-inner-layout">

          <!-- <app-input-number></app-input-number> -->
          <app-operators></app-operators>

        </div>
      </div>
    </div>
  </div>

</div>

<p-overlayPanel #userMenu [style]="{width: '25em'}">
  <ng-template pTemplate>
    <div>
      Welecome Chandra !!!
      <div>
        <img width="100" class="rounded-circle" src="../assets/images/user_avatar.svg" alt="">
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-scrollTop></p-scrollTop>
