<div class="d-none">
  <div>
    <select name="lang" id="lang" class="form-control">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
    </select>
  </div>

  <div class="grid p-fluid">
    <h5>Numerals</h5>
    <div class="grid p-fluid">
      <div class="field col-12 md:col-3 mb-4">
        <label for="integeronly">Integer Only</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="withoutgrouping">Without Grouping</label>
        <p-inputNumber [(ngModel)]="value2" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="minmaxfraction">Min-Max Fraction Digits</label>
        <p-inputNumber [(ngModel)]="value3" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2"
          [maxFractionDigits]="5">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="minmax">Min-Max Boundaries</label>
        <p-inputNumber [(ngModel)]="value4" inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="100">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="locale-user">User Locale</label>
        <p-inputNumber [(ngModel)]="value5" inputId="locale-user" [minFractionDigits]="2">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="locale-us">United States Locale</label>
        <p-inputNumber [(ngModel)]="value6" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="locale-german">Brazil Locale</label>
        <p-inputNumber [(ngModel)]="value7" inputId="locale-german" mode="decimal" locale="de-DE"
          [minFractionDigits]="0">
        </p-inputNumber>
        {{value7}}
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="locale-indian">Indian Locale</label>
        <p-inputNumber [(ngModel)]="value8" inputId="locale-indian" mode="decimal" locale="en-IN"
          [minFractionDigits]="2">
        </p-inputNumber>
        {{value8}}
      </div>
    </div>
    <h5>Currency</h5>
    <div class="grid p-fluid">
      <div class="field col-12 md:col-3 mb-4">
        <label for="currency-us">United States</label>
        <p-inputNumber [(ngModel)]="value9" inputId="currency-us" mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="currency-germany">Germany</label>
        <p-inputNumber [(ngModel)]="value10" mode="currency" inputId="currency-germany" currency="EUR" locale="de-DE">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="currency-india">India</label>
        <p-inputNumber [(ngModel)]="value11" mode="currency" inputId="currency-india" currency="INR"
          currencyDisplay="code" locale="en-IN">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="currency-japan">Japan</label>
        <p-inputNumber [(ngModel)]="value12" mode="currency" inputId="currency-japan" currency="JPY" locale="jp-JP">
        </p-inputNumber>
      </div>
    </div>
    <h5>Prefix and Suffix</h5>
    <div class="grid p-fluid">
      <div class="field col-12 md:col-3 mb-4">
        <label for="mile">Mile</label>
        <p-inputNumber [(ngModel)]="value13" inputId="mile" suffix=" mi">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="percent">Percent</label>
        <p-inputNumber [(ngModel)]="value14" inputId="percent" prefix="%">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="expiry">Expiry</label>
        <p-inputNumber [(ngModel)]="value15" inputId="expiry" prefix="Expires in " suffix=" days">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="temperature">Temperature</label>
        <p-inputNumber [(ngModel)]="value16" prefix="↑ " inputId="temperature" suffix="℃" [min]="0" [max]="40">
        </p-inputNumber>
      </div>
    </div>
    <h5>Buttons</h5>
    <div class="grid p-fluid">
      <div class="field col-12 md:col-3 mb-4">
        <label for="stacked">Stacked</label>
        <p-inputNumber [(ngModel)]="value17" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="horizontal">Horizontal with Step</label>
        <p-inputNumber [(ngModel)]="value18" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
          spinnerMode="horizontal" [step]="0.25" decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
          mode="currency" currency="EUR">
        </p-inputNumber>
      </div>
      <div class="field col-12 md:col-3 mb-4">
        <label for="minmax-buttons">Min-Max Boundaries</label>
        <p-inputNumber [(ngModel)]="value20" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0"
          [max]="100">
        </p-inputNumber>
      </div>
    </div>
    <div class="field col-12 md:col-3 mb-4">
      <label for="vertical" style="display: block">Vertical</label>
      <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
        inputId="vertical" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
    </div>
  </div>
</div>

