/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";
@import 'my-theme.css';
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../node_modules/primeflex/primeflex.scss";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.search-wrapper {
  .p-autocomplete-input.p-inputtext {
    border: none;
    // height: 37px;
    // bottom: 7px !important;
    // position: relative;
    box-shadow: none;
    border-radius: 2rem;
    height: 43px;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.form-control {
  height: 39px;
}

.form-control:enabled:focus {
  box-shadow: inset 0 0 0 1px #860063, inset 0 0 0 1px #860063, inset 0 0 0 1px #860063, inset 0 0 0 1px #860063;
  outline: 0 none;
  outline-offset: 0;
  border-color: #860063;
}


#google_translate_element img {
  display: none !important;
}

.skiptranslate {

  iframe,
  span {
    visibility: hidden !important;
    display: none;
  }
}

// .goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple img {
//   display: none !important;
// }

// .goog-tooltip {
//   display: none !important;
//   &:hover {
//     display: none !important;
//   }
// }

// .goog-text-highlight {
//   background-color: transparent !important;
//   border: none !important;
//   box-shadow: none !important;
// }


select {
  /* styling */
  background-color: white;
  border: thin solid #860063;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select option {
  padding: 10px !important;
}

select option:checked {
  background-color: #860063;
  color: #fff;
}

select option:hover {
  background-color: #860063;
}

select.form-control,
select.goog-te-combo {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.form-control:focus,
select.goog-te-combo:focus {
  background-image:
    linear-gradient(45deg, #860063 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #860063 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #860063;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option:checked,
option:hover {
  background: #860063 !important;
  color: #fff !important;
}

.goog-te-combo {
  option {
    font-size: medium;
    padding: 0.5rem !important;
  }
}

